*{
    box-sizing: border-box;
}

.container{
  width: 100%;
  height: 300px;
  border-style: solid;
  border-color: rgb(255, 1, 1);
  border-width: 2px;
  /* Using display flex : side by side*/
  display: flex;
  /* For horizontal - justify content */
  justify-content: flex-end;
}

.box{
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: green;
  border-width: 2px;
}
